<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <%= link_to "<strong>Google Adwords</strong>".html_safe, root_path, class: "topbar-responsive-logo" %>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <% if user_signed_in? %>
              <li>
              <%= link_to("Logout", destroy_user_session_path) %>
              </li>
            <% else %>
              <li>
              <%= link_to("Login", new_user_session_path) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
